html {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
}

body {
background-color: rgb(255, 223, 44);
margin: 0;
}

a {

}

.header{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    text-align: center;
}

.my-pic {
width: 500px;
height: 500px;
}

#larry{
color:crimson;
text-decoration: none;

}   

#larry:hover{
color:blue
}

.center{
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.topnav a{
float: left;
display: block;
color: black;
text-align: center; 
padding: 14px 16px;
text-decoration: none;
}

.topnav{
    overflow: hidden;
    background-color: rgb(105, 105, 105)
}